*{
    width:100%;
}
.container{
    height:640px;
    align-items:flex-end;
    display: flex;
    margin-bottom:10px;
}
.white-key {
    width: 92px;
    height: 320px;
    background-color: white;
    border: solid 1px black;
    z-index: 1;
    border-bottom: solid rgb(230, 230, 230) 20px;
    transition: 100ms;
    color: black;
}
.black-key{
    margin-left: -23px;
    margin-right: -23px;
    width: 46px;
    height: 160px;
    background-color: black;
    z-index: 2;
    border-bottom: solid rgb(73, 73, 73) 20px;
    transition: 100ms;
    color: black;
}
.piano{
    display: flex;
    justify-content: center;
    
}
.key-name{
    font-size: 30px;
    position: relative;
    top:260px;
    left:30px;
}
.screen{
    margin:0 auto;
    width:600px;
    height:200px;
    background-color: aquamarine;
    border: solid 2px black;
}
#sound{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top:50px;
    left:280px;
}
#fa{
    font-size: 30px;
    position: relative;
    top:260px;
    left:20px;
}